keys\proven-answer-414613-6d64d16e0d58-gitlab-ci.json
keys
.terraform.lock.hcl
terraform-provider-google_v5.18.0_x5.exe
terraform\.terraform.lock.hcl
.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfstate